:root {
  --primary-color: #98C1D9;
  --secondary-color: #6868B3;
  --accent1-color: #23CE6B;
  --accent2-color: #272D2D;
  --brown-color: #82735C;

  --heading-font: Courier, Calibri, sans-serif;
  --paragraph-font: Consolas, Cambria, sans-serif;

  --headline-color-on-white: #6868B3;
  --headline-color-on-color: black;
  --paragraph-color-on-white: #6868B3;
  --paragraph-color-on-color: black;
  --paragraph-background-color: #98C1D9;
  --nav-link-color: #272D2D;
  --nav-background-color: #23CE6B;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #98c1d9;
}


body {
  max-width: 1201px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  background-color: #98C1D9;
}
img {
  display: block;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  background-color: white;
  padding: 1em;
}
h2 {
  text-align: center;
}

.paragraph-title {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: #23CE6B;
}
header nav {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr 1fr;
}

header nav a {
  border: 13px solid #23CE6B;
  border-radius: 23px;
  transition: 0.15s;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  /* padding-top: 1em;
  padding-bottom: 1em; */
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
}

.main-image {
  margin-top: 60px;
  margin-bottom: 220px;
  justify-self: center;
  border: 13px solid #23CE6B;
  border-radius: 23px;
  width: 70%;
}

#logo_link {
  width: 120px;
}

#logo_link img {
  width: 120px;
}

h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 13px solid #272D2D;
  border-radius: 23px;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav a {
  padding: 1em;
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.text-block {
  border: 13px solid #23CE6B;
  border-radius: 13px;
}

footer {
  background-color: #23CE6B;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
}

footer p {
  background-color: #23CE6B;
}






/* gallery stuff */

.gallery-title {
  text-align: center;
  width: 300px;
  margin: 10px auto 10px auto;
  border: 13px solid #23CE6B;
  border-radius: 13px;
}

#main-gallery-title {
  width: 500px;
  margin-top: 250px;
  margin-bottom: 60px;
}

.mySlides1, .mySlides2, .mySlides3 {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  justify-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 20%;
}

.prev {
  left: 20%;
}

.slideshow-container div {
  width: 60%;
  height: 500px;
  overflow: hidden;
  align-items: center;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* end of gallery stuff */

.slideshow-container div img {
  width: 100%;
}

.crop {
  align-items: center;
  display: flex;
  border: 13px solid #23CE6B;
  border-radius: 23px;
  background-color: #272D2D;
  margin-bottom: 150px;
}

/* .crop {
  overflow: hidden;
} */

/* Modal stuff */
/* Style the Image Used to Trigger the Modal
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
} */

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}